body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: #fff;
    overflow: hidden;
    display: flex;   /* Add this line */
    flex-wrap: wrap; /* Add this line */
    justify-content: space-around; /* Add this line */
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main {
    padding: 20px;
    background-color: #fff;
    color: #333;
}

.image-section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

.image-section p {
    color: #666;
    margin: 10px 0;
}

.text-section h2 {
    color: #333;
}

.text-section p {
    color: #666;
}

.employee {
    margin: 20px 0;
}

.employee img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.employee h2 {
    color: #333;
    margin: 10px 0;
}

.employee p {
    color: #666;
}
